@model IEnumerable<MagniFinanceTest.MVC.ViewModels.CourseSubjectsViewModel>

@{
	ViewData["Title"] = "Courses Subjects";
}

<h2>@ViewData["Title"]</h2>

<p>
	<a href="@Url.Action("Create")" class="btn btn-info">Create New</a>
</p>

<table class="table table-hover">
	<thead class="thead-dark">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayName("Teacher")
			</th>
			<th>
				@Html.DisplayName("Course")
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Teacher.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Course.Name)
				</td>
				<td class="text-right">
					<a href="@Url.Action("Edit", new { id = item.CourseSubjectsId })" class="btn btn-warning"><spam class="fa fa-pencil-alt"></spam></a>
					<a href="@Url.Action("Details", new { id = item.CourseSubjectsId })" class="btn btn-info"><spam class="fa fa-user-graduate"></spam></a>
					<a href="@Url.Action("Delete", new { id = item.CourseSubjectsId })" class="btn btn-danger"><spam class="fa fa-trash"></spam></a>
				</td>

			</tr>
		}
	</tbody>
</table>
