@model MagniFinanceTest.MVC.ViewModels.StudentViewModel

@{
	ViewBag.Title = "Student - Details";
}

<div>
	<br />
	<h4>Student Details</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Birthday)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Birthday)
		</dd>


		<dt>
			@Html.DisplayNameFor(model => model.RegistrationNumber)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.RegistrationNumber)
		</dd>

		<dt>
			@Html.DisplayName("Course")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Course.Name)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Active)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Active)
		</dd>
		<dt>
			@Html.DisplayName("Average all subjects")
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Average)
		</dd>

	</dl>
</div>
<p>
	<a href="@Url.Action("Edit", new { id = Model.StudentId })" class="btn btn-dark">Edit</a>
	<a href="javascript: history.go(-1)" class="btn btn-info">Go Back</a>
</p>
@{
	Html.RenderPartial("_StudentsSubjects", Model.StudentSubjects);
}