@model MagniFinanceTest.MVC.ViewModels.StudentSubjectsViewModel

@{
	ViewBag.Title = "Student Evaluation - Details";
}

<div>
	<br />
	<h4>Student Details</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.CourseSubjects.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CourseSubjects.Name)
		</dd>

		<dt>
			@Html.DisplayName("Student")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Student.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Grade)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Grade.GradeValue)
		</dd>

	</dl>
</div>
<p>
	<a href="@Url.Action("Edit", new { id = Model.StudentSubjectsId })" class="btn btn-dark">Edit</a>
	<a href="javascript: history.go(-1)" class="btn btn-info">Go Back</a>
</p>
