@model IEnumerable<MagniFinanceTest.MVC.ViewModels.StudentSubjectsViewModel>

@{
	ViewData["Title"] = "Evaluation Students";
}

<h2>@ViewData["Title"]</h2>

<p>
	<a href="@Url.Action("Create")" class="btn btn-info">Create New</a>
</p>
<table class="table table-hover">
	<thead class="thead-dark">
		<tr>
			<th>
				@Html.DisplayName("Student")
			</th>
			<th>
				@Html.DisplayName("Subject")
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Grade)
			</th>
			<th></th>
		</tr>
	</thead>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Student.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CourseSubjects.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Grade.GradeValue)
			</td>
			<td class="text-right">
				<a href="@Url.Action("Edit", new { id = item.StudentSubjectsId })" class="btn btn-warning"><spam class="fa fa-pencil-alt"></spam></a>
				<a href="@Url.Action("Details", new { id = item.StudentSubjectsId })" class="btn btn-info"><spam class="fa fa-info-circle"></spam></a>
				<a href="@Url.Action("Delete", new { id = item.StudentSubjectsId })" class="btn btn-danger"><spam class="fa fa-trash"></spam></a>
			</td>
		</tr>
	}

</table>
